body{
    height: 100vh;
    background-color: rgb(168, 52, 52);
    color: whitesmoke;
    display: grid;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}